.carrousel {
    position: relative;
    
    &__leftClick {
        position: absolute;
        top: 45%;
        left : 5%;
        height: 10vw;
    }
    &__rightClick {
        position: absolute;
        top: 45%;
        right: 5%;
        height: 10vw;
    }
    &__portrait {
        height: 415px;
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
        @media(max-width:800px){
            height: 300px;
        }
    }
    p {
        position: absolute;
        left: 50%;
        bottom: 5%;
        color: white;
    }
}