.error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 139px;
    padding-bottom: 139px;
    img {
        width: 597px;
        height: 263px;
        margin-bottom: 139px;
    }
    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        color: #ff6060;
        margin-bottom: 139px;
    }
    a {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: black;
        text-decoration: underline 1px black;
        margin-bottom: 139px;
    }
}